.hidden {
  display: none;
}

header {
  background-color: azure;
  margin: 0 0 20px;
  padding: 20px 10%;
  width: 100%;
}

content {
  padding: 20px 10%;
  width: 100%;
}

.sign-in, .sign-up {
  width: 18rem;
}

.byline {
  font-size: 60%;
}