.hidden {
  display: none;
}

a:link {
  text-decoration: none;
}

header {
  background-color: rgb(228, 241, 241);
  margin: 0 0 20px;
  padding: 20px 10%;
  width: 100%;
}

.site-title {
  font-size: 350%;
  text-shadow: 2px 2px lightgrey;
  margin-bottom: 0!important;
  line-height: 1;
}

.site-subtitle {
  font-size: 80%;
  text-align: right;
}

content {
  padding: 20px 10%;
  width: 100%;
}

.sign-in, .sign-up {
  width: 18rem;
}

.post-byline {
  font-size: 70%;
}

.comment-byline {
  font-size: 90%;
}